*{
    margin: 0;
    padding: 0;
}
.logo{
   width: 400px;
   height: 120px;
   background-color: black;
   margin-left: 150px;
   }
.panel-top {
    backgrownd: grey;
}
.logo p{
    font-size: 76px;
    color: white;
    font-family: Arial;
    padding-left: 30px;
    padding-top: 10px;
}
.logo span{
    font-size: 60px;
    color: blue;
    font-family: Arial;

}
.social {
    padding: 4;0;
}
.social a{
    display: inline-block;
    height:20px;
    width: 20px;
    wertical-align: middle;
    backgrownd: url(../img/bl-social.png);
    margin-left: 980px;
}
.social p{
    margin-left: 900px;

}
.nav {
    margin-top: 100px
}
.nav li{
    float:left;
    backgrownd: grey;
}
.nav li+li {margin-left:30px}
.nav li a